body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-color: #1C1B21;
    min-height: 100vh;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}
.border {
    border-radius: 30px 0px;
}

/*          NAV          */

.nav {
    padding-top: 30px;
}
.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1110px;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    margin-right: 65px;
}
.naw-row {
    display: flex;
    column-gap: 56px;
}
.nav-item {
    font-weight: 600;
    transition: 0.2s ease-in;
}
.nav-item:hover {
    transform: scale(1.2)rotate(5deg);
}

.nav-btn {
    position: relative;
    z-index: 10;
    display: none;
    height: 25px;
    width: 42px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
}
.nav-btn:focus {
    outline: none;
}
.nav-btn-icon {
    position: absolute;
    display: block;
    background-color: #ffffff;
    width: 42px;
    height: 5px;
    border: none;
}
.nav-btn-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    background-color: #ffffff;
}
.nav-btn-icon::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    background-color: #ffffff;
}
.nav-button-close .nav-btn-icon {
    background-color: transparent;
    position: fixed;
}
.nav-button-close .nav-btn-icon::before {
    transform: rotate(45deg);
    top: 0;
}
.nav-button-close .nav-btn-icon::after {
    transform: rotate(-45deg);
    top: 0;
}
.mobile-nav {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    padding: 85px 110px 50px 30px;
    background-color: #1c1b21ec;
}
.mobile-nav .nav-item {
    display: block;
    padding-bottom: 20px;
}

  /* HEADER  */


.header {
    padding: 322px 0 130px;
}
.header-sub {
    padding-bottom: 10px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.header-title {
    padding-bottom: 50px;
    font-size: 100px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}


/* AUDIO */


.audio {
    display: flex;
    align-items: center;
    column-gap: 35px;
}
.audio-btn {
    cursor: pointer;
    width: 27px;
    transition: 0.15s ease-in;
}
.audio-btn:hover {
    transform: scale(1.2);
}
.progress-container {
    width: 100%;
}
.audio-container {
    height: 2px;
    background-color: #fff;
    transition: 0.1s ease-in;
    cursor: pointer;
}
.audio-container:hover {
    transform: scaleY(5);
}
.audio-progress {
    height: 2px;
    width: 0;
    background-color: #7A66CC;
    transition: 0.1s ease-in;
    cursor: pointer;
}
.audio-progress:hover {
    transform: scaleY(1.3);
}
.time {
    width: 100px;
    white-space: nowrap;
}


/* NEWS */


.news-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.news-item {
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in;
}
.news-item:hover {
    opacity: 0.9;
    transform: translateY(-10px);
}
.news-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: 100%;
    height: 90px;
    bottom: 0;
    left: 0;
    background-color:#7a66ccab;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.news-item:hover .news-text{
    opacity: 1;
}


/* ABOUT */


.about {
    padding: 180px 0 150px;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text {
    max-width: 540px;
}
.about-title {
    padding-bottom: 60px;
    display: flex;
    font-size: 48px;
    font-weight: 700;
    column-gap: 30px;
}
.about-par {
    padding-bottom: 60px;
    opacity: 0.7;
}
.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
}
.about-list-item {
    padding-left: 50px;  
    background-image: url(../img/listStyle.svg) ; 
    background-repeat: no-repeat;  
    background-position: center left; 
    font-size: 18px;
    font-weight: 600;
}
.about-img {
    padding-left: 145px;
    width: 600px;
}


/* REWARDING */


.rewarding-content {
    border: 1px solid #FFF;
    padding: 50px 80px;
    position: relative;
    display: flex;
    align-items: center;
}
.rewarding-text {
    max-width: 520px;
    padding-right: 60px;
}
.rewarding-text p{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ffffff57;
}
.rewarding-text a{
    color: #7A66CC;
    font-weight: 700;
}
.rewarding-img {
    position: absolute;  
    top: -85px;  
    right: 80px; 
   
}


/* MUSIC  */


.tracks {
    padding: 180px 0;
}
.tracks-content {
    display: flex;
    justify-content: center;
    row-gap: 50px;
}
.tracks-img {
    padding-right: 60px;
    display: flex;
    align-items: center;
}
.tracks-title {
    padding-bottom: 60px;
    display: flex;
    gap: 30px;
    font-size: 48px;
    font-weight: 700;
}
.tracks-progress-container {
    max-width: 317px;
    width: 100%;
}
.tracks-list {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tracks-list-item {
    display: flex;
    transition: 0.2s ease-in;
    font-weight: 600;
    cursor: pointer;
}
.tracks-list-item:hover {
    color: #7A66CC;
    transform: scale(1.1);
}
.tracks-list-item-number {
    opacity: 0.5;
    padding-right: 16px;
    font-weight: 700;
}
.tracks-links {
    display: flex;
}
.tracks-link-title {
    padding-right: 40px;
    font-size: 24px;
    font-weight: 600;
}
.tracks-spotify {
    font-size: 14px;
    font-weight: 600;
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease-in;
}
.tracks-spotify:hover {
    transform: translateY(-5px);
}
.tracks-itunes {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease-in;
}
.tracks-itunes:hover {
    transform: translateY(-5px);
}
.tracks-spotify img {
    width: 30px;
    height: 30px;
}
.tracks-itunes img {
    width: 30px;
    height: 30px;
}


/* COLLAGE */


.collage-list {
    display: flex;
    justify-content: center;
    width: 1110px;
    gap: 30px;
}
.middle-collage {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
}
.collage-item:nth-child(2){
    padding-left: 30px;
    padding-bottom: 30px;
}
.collage-item {
    transition: 0.2s ease-in;
}
.collage-item:hover {
    opacity: 0.8;
    transform: scale(1.1);
}



/* VIDEO */

.video {
    padding-top: 120px;
}
.video-title {
    padding-bottom: 60px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.video-player{
    max-width: 1100px; 
    width: 100%;
}


/* TICKETS */


.concert {
    padding: 180px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.slider {
    overflow: hidden;
}
.concert-list {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-left: 15px;
    width: 1140px;
    transition: 0.3s ease-out;
}
.concert-item {
    border-radius: 100px 0 30px 0;
    max-width: 350px;
    background-color: #2F2B2B;
    transition: 0.15s ease-in;
    cursor: pointer;
}
.concert-item img {
    width: 100%;
}
.concert-text {
    padding: 30px 0 0 35px;
}
.concert-place {
    padding-bottom: 20px;
    font-weight: 700;
    opacity: 0.5;
}
.concert-name {
    padding-bottom: 30px;
    font-weight: 500;
}
.concert-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.concert-date {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.5;
}
.concert-book {
    padding: 18px 52px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7A66CC;
    transition: 0.15s ease-in;
}
.prev-btn, .next-btn{
    min-width: 30px;
}
.concert-item:hover .concert-book {
    padding-left: 60px;
}


/* POPUP */


.popup-wrap {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(176, 153, 153, 0.2);
    position: fixed;
    z-index: 1000;
}
.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 30px;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #1C1B21;
    border-radius: 20px;
}
.img-popup {
    width: 100%;
}
.popup-text {
    padding-top: 10px;
}
.popup-name {
    margin: 0 auto;
    max-width: 90%;
    font-size: 30px;
    text-align: center;
    
}
.popup-place {
    padding-top: 10px;
    font-size: 25px;
}
.popup-date {
    color: #6e6d6d;
}
.text-input {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.popup-input {
    background-color: inherit;
    border-bottom: 1px solid #6e6d6d;
    padding: 7px;
    width: 200px;
    color: #c9c9c9;
    font-weight: 700;
    margin-right: 10px;
}
.popup-payment {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    
}
.popup-book {
    display: flex;
    padding: 18px 80px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7A66CC;
    transition: 0.15s ease-in;
    text-align: right;
    cursor: pointer;
}
.popup-close {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

}

.success {
    display: block;
    opacity: 0;
    bottom: 10px;
    position: fixed;
    background-color: #353535;
    z-index: 1000;
    transition: all 1s ease-in;
}
.success-content {
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bfffc8b7;
}

/* FOOTER  */


.footer {
    padding-bottom: 40px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts {
    padding: 60px 0;
    display: flex;
}
.contacts-title {
    padding-right: 30px;
    text-align: end;
    font-weight: 600;
    text-transform: uppercase;
}
.contacts-data {
    text-transform: uppercase;
}
.footer-icons {
    padding-bottom: 100px;
    display: flex;
    column-gap: 30px;
}
.footer-icon {
    border-radius: 100%;
    transition: 0.3s ease;
}
.footer-icon:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 100px 0px rgba(255, 0, 236, 0.30),
                4px 3px 100px 100px rgba(255, 0, 236, 0.07) inset;

}
.copyright {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
}



/* .cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    transform: rotate(15deg)translate(-20%, 5%);
    -webkit-box-shadow: 26px 26px 18px 7px rgba(168, 16, 186, 0.2);
-moz-box-shadow: 26px 26px 18px 7px rgba(168, 16, 186, 0.2);
box-shadow: 26px 26px 18px 7px rgba(168, 16, 186, 0.2);
} */