
@media (max-width: 1200px) {
    .news-row {
        flex-wrap: wrap;
    }
    .about-content {
        flex-wrap: wrap;
    }
    .about-img {
        padding-top: 40px;
        padding-left: 0px;
    }
    .about-img img {
        margin: 0 auto;
    }
    .rewarding-img {
        right: 30px;
    }
    .collage-list {
        flex-wrap: wrap;
        width: 700px;
        margin: 0 auto;
    }
    .right-collage {
        order: -1;
    }
}

@media (max-width: 1000px) {
    .nav-item {
        display: none;
    }
    .nav-btn {
        display: block;
    }
    .mobile-nav_active{
        display: block;
    }
    .about {
        padding: 120px 0;
    }
    .rewarding-content {
        padding: 30px 40px;
        justify-content: center;
    }
    .rewarding-text {
        max-width: 520px;
        padding-right: 30px;
    }
    .rewarding-img {
        position: relative;
        top: 0;
        right: 0;
    }
    .tracks {
        padding: 120px 0;
    }
    .tracks-img {
        padding-right: 0;
    }
    .tracks-content {
        flex-wrap: wrap;
    }
    .collage-list {
        width: 550px;
    }
    .concert {
        padding: 120px 10px;
    }
}
@media (max-width: 780px) {
    .audio {
        column-gap: 15px;
    }
    .rewarding-img img {
       display: none;
    }
}
@media (max-width: 676px) {
    .header-sub {
        padding-bottom: 5px;
        font-size: 38px;
    }
    .header-title {
        padding-bottom: 50px;
        font-size: 80px;
    }
    .about-img {
        padding-top: 50px;
    }
}
@media (max-width: 560px) {
    .header {
        padding: 150px 0; 
    }
    .header-sub {
        padding-bottom: 0px;
        font-size: 28px;
    }
    .header-title {
        padding-bottom: 50px;
        font-size: 50px;
    }
    .time {
        font-size: 14px;
       
    }
    .about {
        padding: 100px 0;
    }
    .about-title {
        font-size: 38px;
    }
    .tracks {
        padding: 100px 0;
    }
    .tracks-title {
        padding-bottom: 40px;
        font-size: 30px;
    }
    .tracks-img {
        width: 70%;
    }
    .tracks-list-item {
        font-size: 13px;
        padding-left: 10px;
    }
    .tracks-link-title {
        font-size: 18px;
    }
    .collage-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .middle-collage {
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        gap: 30px;
    }
    .collage-item:nth-child(2){
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .concert {
        padding: 100px 10px;
        column-gap: 10px;
    }
    .concert-item {
        max-width: 250px;
    }
    .concert-text {
        padding: 20px 0 0 15px;
    }
    .popup {
        padding: 10px;
    }
    .popup-name {
        font-size: 25px;
    }
    .popup-place {
    font-size: 20px;
    }
    .text-input {
        font-size: 16px;
    }
    .popup-input {
        width: 160px;
    }
    .popup-book {
    padding: 15px 60px;
    }
    .contacts {
        padding: 50px 0;
    }
    .contacts-title {
        font-size: 12px;
        padding-right: 10px;
    }
    .contacts-data {
        font-size: 12px;
    }
    .footer-icons {
        padding-bottom: 50px;
        column-gap: 15px;
    }
}
@media (max-width: 410px) {
    .concert-book {
        padding: 12px 25px;
    }
    .concert-item:hover .concert-book {
        padding-left: 35px;
    }
}



    